html(id='loginpage')
  head
    include ./partials/head.pug
    body
      include ./partials/bsNavbar.pug
    link(rel='stylesheet', type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css' href='/static/css/styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

  body
    div(class='container')
      form(method='post', action='')
        div(class='form-group')
          label(for='inputUsername')
          input(type='username', class='form-control', id='usernamelogin', placeholder='Username', name='username')
        div(class='form-group')
          label(for='inputPassword')
          input(type='password', class='form-control', id='passwordlogin', placeholder='Password', name='password')
        div(class='checkbox')

        button(type='submit', class='btn btn-primary')
          | Login
