html(id='signuppage')
  head
    include ./partials/head.pug
    body
      include ./partials/bsNavbar.pug
    link(rel='stylesheet', type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css' href='/static/css/styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

  body
    div(class='container')
      form(method='post', action='')
        div(class='form-group')
          label(for='inputUsername')
            | Username
          input(type='username', class='form-control', id='inputusername', placeholder='Username (min 4 char)', name='username')
        div(class='form-group')
          label(for='inputEmail')
            | Email
          input(type='email', class='form-control', id='inputemail', placeholder='Email', name='Email')
        div(class='form-group')
          label(for='inputName')
            | First Name
          input(type='name', class='form-control', id='inputname', placeholder='First Name (min 3 char)', name='firstname')
        div(class='form-group')
          label(for='inputlastName')
            | Last name
          input(type='lastname', class='form-control', id='inputlastName', placeholder='Last name (min 3 char)', name='lastname')
        div(class='form-group')
          label(for='inputPassword')
            | Password
          input(type='password', class='form-control', id='inputPassword', placeholder='Password (min 8 char, one digit, one capital and one special char)', name='password')
        div(class='checkbox')

        button(type='submit', class='btn btn-primary')
          | Sign up
